.wrapper {
  width: 800px;

  .title {
    margin-bottom: 24px;
  }

  .badge {
    margin-left: 8px;
  }

  .prices {
    table {
      margin-top: 48px;

      &:first-child {
        margin-top: 0px;
      }
    }
  }
}
